<br><br><br><br>
<div class="col-7 offset-2">
	<h4 class="text-white"><b>Selecciona el plan ideal para ti.</b></h4>
	<h6 class="text-white">Cambia a un plan inferior o superior en cualquier momento</h6>
	<br><br>
	<table class="table text-white">
	  <thead class="text-center">
	    <tr>
	      <th> </th>
	      <th><h5><b>Base</b></h5></th>
	      <th><h5><b>Premium</b></h5></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><h5 class="font-italic">Precio</h5></td>
	      <td class="text-center"><h5>$<%=@price.base%></h5></td>
	      <td class="text-center"><h5>$<%=@price.premium%></h5></td>
	    </tr>
	    <tr>
	      <td><h5 class="font-italic">Subastar</h5></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	    </tr>
	    <tr>
	      <td><h5 class="font-italic">Reserva HotSale</h5></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	    </tr>
	    <tr>
	      <td><h5 class="font-italic">Cancelar en cualquier momento</h5></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	    </tr>
	    <tr>
	      <td><h5 class="font-italic">Reserva inmediata</h5></td>
	      <td class="text-center"><img src="https://freeiconshop.com/wp-content/uploads/edd/cross-flat.png" height="30px" width="30 px"></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	    </tr>
	    <tr>
	      <td><h5 class="font-italic">Inscripción durante la subasta</h5></td>
	      <td class="text-center"><img src="https://freeiconshop.com/wp-content/uploads/edd/cross-flat.png" height="30px" width="30 px"></td>
	      <td class="text-center"><img src="https://www.smhow.org.au/wp/wp-content/uploads/tick.png" height="30px" width="30 px"></td>
	    </tr>
	  </tbody>
	</table>
</div>