<form action ="/residences" method = "post">
  <label for="title"> Titulo de la residencia </label>
  <input type= "text" id:"title" name=""="title"
  placeholder="ingrese el titulo de la residencia" required>

  <label for="address"> Direccion </label>
  <input type= "text" id:"address" name="address"
  placeholder="ingrese la direccion de la residencia" required>

  <label for="title"> Titulo de la residencia </label>
  <input type= "text" id:"description" name="description"
  placeholder="ingrese una descripcion para la residencia" required>
<input type="submit" value="Publicar" />
</form>