<br><br>
<img src="http://www.arlss.gov.do/Images/faqs.png" alt="Circle image" class="style_image offset-5" height="200px" width="200 px">
<br><br>
<div id="accordion">
  <div class="card text-white bg-dark">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        	¿Qué es el Tiempo Compartido?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>El sistema de "tiempos compartidos" ofrece la oportunidad de tener alojamiento en nuestra amplia variedad de hoteles de alta calidad, los cuales usualmente ofrecen una gama de amenidades en populares destinos vacacionales tanto nacionales como internacionales.</p>

		<p>El alojamiento en un tiempo compartido con frecuencia ofrece amplias unidades y amenidades similares a las de un hogar, las cuales, en comparación con los productos tradicionales de alojamiento como los hoteles pueden incluir cocina, lavandería, sala de estar y varios cuartos, todo esto en la privacidad de tu propia unidad.</p>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Cómo funciona el sistema de HSHweb?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
		<p>HSHweb no se trata del clásico modelo de tiempos compartidos, sino que con esta plataforma
		revolucionaremos la industria. Consiste  en  un  sistema  de  reservas  mediante  subastas, de una duración de 3 días,  donde  los  usuarios  pueden suscribirse al sitio por una cuota mensual para acceder a ellas.</p>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Debo estar registrado para ser parte de HSHweb?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Si, debes estar registrado. En primera instancia serás un usuario con membresía base.
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		¿Cómo elegir un Tiempo Compartido?        
		</button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <p>Comienza la búsqueda de tu Tiempo Compartido considerando cuáles son tus vacaciones ideales y a continuación explora las oportunidades de Propiedad Vacacional que más se ajustan a tu estilo de vida. Ten en cuenta que sólo podrás inscribirte a una subasta o reservar una semana de una propiedad, que este a 7 u 8 meses del día de hoy. </p>
		<p>Ejemplo:  Si  búscas una residencia  en  Septiembre, podrás visualizar aquellas que estén disponibles en Abril y Mayo.</p>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" id="heading5">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
		¿Cuántas semanas puedo reservar en un año?        
		</button>
      </h5>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
      <div class="card-body">
        <p>Tendrás 2 créditos anuales, por lo tanto máximo podrás reservar 2 semanas. Si éstas no son tomadas en el año se pierden.</p>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" id="heading6">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
		¿Qué otro tipo de membresía existe?       
		</button>
      </h5>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
      <div class="card-body">
        <p>Puedes ser usuario Premium, pagando una  cuota  más  alta  al  mes.  Tiene  todas las características del usuario base pero cuenta con los siguientes privilegios:</p>
        <ul>
        	<li>Obtención instantánea de una residencia antes de que comience a ser subastada</li>
        	<li>Ingreso  a  una  subasta  mientras  que  se  está  realizando  (y  luego  puja  como  un usuario base)</li>
        </ul>
        <p>Deberás acercarte a nuestras oficionas para pedir el cambio de membresía.</p>
        <td><%= link_to "Ver planes", prices_path, class: 'btn btn-primary'%> </td>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" id="heading7">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
		¿Cómo puedo reservar una residencia en HotSale?       
		</button>
      </h5>
    </div>
    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
      <div class="card-body">
        <p>Las residencias en HotSale son aquellas que puedes reservar por un precio promocional sin importar el tiempo de anticipación. Aún así debes contar con créditos disponibles.</p>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" id="heading8">
      <h5 class="mb-0">
        <button class="btn btn-primary col-12 text-white" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
		¿Qué medios de pago existen?       
		</button>
      </h5>
    </div>
    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
      <div class="card-body">
        <p>Sólo tarjeta de crédito.</p>
      </div>
    </div>
  </div>

</div>
<br><br>
<div class="text-white text-center">
	<h3>
		<p> HSHweb está respaldado por altos estándares de servicio, calidad y confiabilidad</p>
		<p> Tus vacaciones significan todo para nosotros </p>
	</h3>
</div>
<br><br>

 
