<div class="container-fluid bg-dark pb-4 ">
	
	<div class="alert text-white mb-3 alert-expand-lg bg-dark"> 
      <%= notice%>
      </div>
	<div class="text-center"> 
	      <h2 class="text-white mb-3">Bienvenido a Home Switch Home</h2>
	</div>
	<div class="bg-dark"><br /></div>

	<img src="http://www.todopaisajes.com/1920x1080/hotel-5-estrellas-en-la-playa.jpg" class="shadow p-3 mb-5 bg-secondary rounded col-10 offset-1" height="500px">
	<br><br>
</div>