
<div class="container">

  <h1 style= font-type:"Dimitri";><center><B>Residencias en HotSale</b></center></h1>
    <br>
<div class= 'thumbnails' id='semanas'>
  <div class="row">
  <% Week.all.order(:status_id).each do |week| %>
<div id='semanas'>
<div class="col">
        <%if (week.status_id ==1) %>
        <%= link_to  Residence.find(week.residence_id).title, residence_path(week.residence_id)%>
        <div class='thumbnail'>
          <img src="<%= Residence.find(week.residence_id).image %>"
             class="img-thumbnail  style_image shadow p-3  bg-secondary  "
           height="350px" width="350 px"><br>

          </a>
</div>
            </div>
            <%end%>
        </div>
  <%end%>
  </div>
</div>
</div>


<center><%= link_to "Listado de residencias", residences_path,class: 'btn btn-outline-primary btn'  %></center>
<br>
</div>
